@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@import 'primereact/resources/themes/lara-light-blue/theme.css' layer(primereact);
@import 'primereact/resources/primereact.min.css' layer(primereact);
@import 'primeicons/primeicons.css' layer(primereact);

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

.p-button-danger{
    color: #ffffff !important;
    background: #ef4444 !important;
    border: 1px solid #ef4444 !important;
}

.p-button.p-button-danger:enabled:focus {
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #f7a2a2, 0 1px 2px 0 rgb(0, 0, 0);
}